name: Deploy Backend ArchiQ

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      #      - name: Set up Python
      #        uses: actions/setup-python@v4
      #        with:
      #          python-version: '3.13'
      #
      #      - name: Install dependencies
      #        run: |
      #          python -m pip install --upgrade pip
      #          pip install -r requirements.txt

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts
          cat ~/.ssh/known_hosts

      - name: Check SSH connectivity
        run: |
          ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} echo "SSH OK"

      - name: Deploy to production
        if: github.ref == 'refs/heads/main'
        run: |
          ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
            cd archiq_backend
            git pull origin main
            docker compose -f docker-compose.yml down
            docker compose -f docker-compose.yml up -d --build
